<a href="https://colab.research.google.com/github/shammud/python/blob/main/Filtering_data_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Filtering dataframe data

Interrogating dataframes
---

*   single column: `dataframe['column']`
*   multiple columns: `dataframe[['column1', 'column2']]`
*   filter rows by condition 	`df[df[column] = condition]`  
*   filter by multiple conditions where both are true (AND)	`df[(df[column] = condition1) & (df[column] = condition2)]`  
*   filter by multiple conditions where one or other are true (OR)	`df[(df[column] = condition1)  | (df[column] = condition2)]`  

### Useful Functions

---

`head()`: will show the first 5 rows of the dataframe.  
`tail()`: same as head() but for the last 5 rows.  
`len()`: will show the length.  
`mode()`: will show the most common value in column.  
`mean()`: will show the average of the column.  
`sort_values()`: will sort the dataframe.

## Table Imports & Table Content 

---

Running the code below will display table content of all 3 tables. Use this to easily find colum names from specific tables.

In [ ]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")
industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")
country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")

def get_summary(df):
  display(df.info())

get_summary(skill_migration)
get_summary(industry_migration)
get_summary(country_migration)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17617 entries, 0 to 17616
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   country_code          17617 non-null  object
 1   country_name          17617 non-null  object
 2   wb_income             17617 non-null  object
 3   wb_region             17617 non-null  object
 4   skill_group_id        17617 non-null  int64
 5   skill_group_category  17617 non-null  object
 6   skill_group_name      17617 non-null  object
 7   net_per_10K_2015      17617 non-null  float64
 8   net_per_10K_2016      17617 non-null  float64
 9   net_per_10K_2017      17617 non-null  float64
 10  net_per_10K_2018      17617 non-null  float64
 11  net_per_10K_2019      17617 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4148 entries, 0 to 4147
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   base_country_code         4148 non-null   object
 1   base_country_name         4148 non-null   object
 2   base_lat                  4148 non-null   float64
 3   base_long                 4148 non-null   float64
 4   base_country_wb_income    4148 non-null   object
 5   base_country_wb_region    4148 non-null   object
 6   target_country_code       4148 non-null   object
 7   target_country_name       4148 non-null   object
 8   target_lat                4148 non-null   float64
 9   target_long               4148 non-null   float64
 10  target_country_wb_income  4148 non-null   object
 11  target_country_wb_region  4148 non-null   object
 12  net_per_10K_2015          4148 non-null   float64
 13  net_per_10K_2016          4148 non-null   float64
 14  net_per_10K_2017          4148 non-null   float64
 15  net_per_10K_2018          4148 non-null   float64
 16  net_per_10K_2019          4148 non-null   float64
dtypes: float64(9), object(8)
memory usage: 551.0+ KB

None

# Exercise 1

---
\
Write your code inside the function below to:
- Find all `High income` countries using the `wb_income` column.
- Return the length of rows.

In [ ]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_income(df):
  # add code below to find the high income countries using the wb_income column
 a=df[df["wb_income"] =="High income"]
 return len(a)







#run test to see if you are getting the correct row length
actual = filter_income(skill_migration)
expected = 8904

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 8904
Actual: 8904

# Exercise 2

---
\
Write your code inside the function below to:
- Find all rows that have a `skill_group_category` equal to `skill`.
- Return the country that shows up the most in `country_name`.

In [22]:
import pandas as pd
skill_migration= pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_skills(df,skill):
  # add code below to find all rows that have the skill 'skill'
 skills=df[df["skill_group_category"]==skill]
 country_mode=skills['country_name'].mode()
 return country_mode

filter_skills(skill_migration,"Tech Skills")
filter_skills(skill_migration,"Business Skills")
filter_skills(skill_migration,"Specialized Industry Skills") 

#run test to see if you are getting the most frequent country name
tests = [
    { "id": 1, "actual": filter_skills(skill_migration, "Tech Skills")[0], "expected": "Australia" },
    { "id": 2, "actual": filter_skills(skill_migration, "Business Skills")[0], "expected": "Australia" },
    { "id": 3, "actual": filter_skills(skill_migration, "Specialized Industry Skills")[0], "expected": "United Kingdom" }
]

for test in tests: 
  if test["actual"] == test["expected"]:
    print("Test {} passed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))
  else:
    print("Test {} failed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))

Test 1 passed!
Expected: Australia
Actual: Australia

Test 2 passed!
Expected: Australia
Actual: Australia

Test 3 passed!
Expected: United Kingdom
Actual: United Kingdom

# Exercise 3

---
\
Write your code inside the function below to:
- Find all `skill_group_id` with the id `2265` that have a `net_per_10K_2019` greater than `-500`.
- Sort the rows in ascending order based on `net_per_10K_2019` and return the first 5 rows.

In [ ]:
import pandas as pd

skill_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Skill Migration")

def filter_skill_id(df):
  # add code below to find skill id 2265 with greater than -500 migration
 skill_migration=df[(df["skill_group_id"]==2265) & (df["net_per_10K_2019"] > -500)]
 filtered_df=skill_migration.sort_values(by="net_per_10K_2019").head()
 return filtered_df

  



#run test to see if you are getting the correct first row and only returning 5 items
filtered_df = filter_skill_id(skill_migration)
actual1 = filtered_df.index[0]
expected1 = 14550
actual2 = len(filtered_df)
expected2 = 5

if actual1 == expected1 and actual2 == expected2:
  print("Test passed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))
else:
  print("Test failed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))

Test passed!
Expected: 14550 & 5
Actual: 14550 & 5

# Exercise 4

---
\
Write your code inside the function below to:
- Find all rows with a `net_per_10K_2019` less than the parsed `amount` parameter.
- Return the length of rows.

*(hint: amount is a parameter representing a parsed number when the function is called, use it within the function like a variable)*

In [ ]:
import pandas as pd

country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")

def filter_net_per_10k(df, amount):
  # add code below to find all the rows which are less than the `amount` parameter
 country_migration=df[df["net_per_10K_2019"] < amount]
 return len(country_migration)
  



#run test to see if you are getting the correct first row and only returning 5 items
tests = [
    { "id": 1, "actual": filter_net_per_10k(country_migration, 100), "expected": 4148 },
    { "id": 2, "actual": filter_net_per_10k(country_migration, 0), "expected": 1980 },
    { "id": 3, "actual": filter_net_per_10k(country_migration, -100), "expected": 0 }
]

for test in tests: 
  if test["actual"] == test["expected"]:
    print("Test {} passed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))
  else:
    print("Test {} failed!\nExpected: {}\nActual: {}\n".format(test["id"], test["expected"], test["actual"]))

Test 1 passed!
Expected: 4148
Actual: 4148

Test 2 passed!
Expected: 1980
Actual: 1980

Test 3 passed!
Expected: 0
Actual: 0

# Exercise 5

---
\
Write your code inside the function below to:
- Find all rows that have a `net_per_10K_2015` & `net_per_10K_2016` greater than `50`.
- Return the length of rows

In [ ]:
import pandas as pd

country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")

def filter_two_net(df):
  # add code below to find rows which have migration in 2015 & 2016 greater than 50
 country_migration=df[(df["net_per_10K_2015"] > 50) & (df["net_per_10K_2016"] > 50)]
 return len(country_migration)





#run test to see if you are getting the correct length of rows
actual = filter_two_net(country_migration)
expected = 3

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 3
Actual: 3

# Exercise 6

---
\
Write your code inside the function below to:
- Find all migrations from countries with `Low Income` to countries with `Upper Middle Income`.
- Find all rows which move to the same region via `base_country_wb_region` & `target_country_wb_region` then display the number of rows.

In [ ]:
import pandas as pd

country_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Country Migration")

def filter_two_income(df):
  # add code below to find all rows of migration from low income to upper middle income 
  #and the number of rows where migration was to the same regiion
 country_migration_latest=df[(df['base_country_wb_income']=='Low Income')&(df['target_country_wb_income']=='Upper Middle Income')]
 filter_two_income=country_migration_latest[(country_migration_latest['base_country_wb_region'])==(country_migration_latest['target_country_wb_region'])]
 return len(filter_two_income)





#run test to see if you are getting the correct first length of rows
actual = filter_two_income(country_migration)
expected = 15

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 15
Actual: 15

# Exercise 7

---
\
Write your code inside the function below to:
- Find all `isic_section_index` with `M` that are in `industry_name` of `Biotechnology`.
- Return the number of rows.

In [ ]:
import pandas as pd

industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")

def filter_industry(df):
  # add code below to find all the rows from biotechnology industry and isic of M 
 filter_industry=df[(df["isic_section_index"] =="M") & (df["industry_name"]=="Biotechnology")]
 return len(filter_industry)




#run test to see if you are getting the correct length of rows
actual = filter_industry(industry_migration)
expected = 32

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 32
Actual: 32

# Exercise 8

---
\
Write your code inside the function below to:
- Find all `industry_name` with `Computer Software` that have a `wb_income` of `Low income`.
- Sort the rows in descending order based on `net_per_10K_2015` and return the first 5 rows.

In [ ]:
import pandas as pd

industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")

def filter_industry_income(df):
  # add code below to find Low Income Computer Software rows and sort in descending order returning first 5 
 industry_migration=df[(df['industry_name']=='Computer Software')&(df['wb_income']=='Low income')]
 filtered_df=industry_migration.sort_values(by='net_per_10K_2015',ascending=False).tail()  
 return filtered_df




#run test to see if you are getting the correct first row and only returning 5 items
filtered_df = filter_industry_income(industry_migration)
actual1 = filtered_df.index[0]
expected1 = 3699
actual2 = len(filtered_df)
expected2 = 1

if actual1 == expected1 and actual2 == expected2:
  print("Test passed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))
else:
  print("Test failed!\nExpected: {} & {}\nActual: {} & {}".format(expected1, expected2, actual1, actual2))

Test passed!
Expected: 3699 & 1
Actual: 3699 & 1

# Exercise 9

---
\
Write your code inside the function below to:
- Find all `country_name` that include `United States` or `United Kindom` aswell as having a `isic_section_index` with `M` included.
- Return the average of `net_per_10K_2015`.

In [ ]:
import pandas as pd

industry_migration = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true', "Industry Migration")

def filter_country(df):
  # add code below to find all USA and UK rows which have ISIC of M and return mean migration in 2015
 industry_migration_new=df[(df['country_name']=='United States') | (df['country_name']=='United Kindom') & (df['isic_section_index']=='M')]
 filter_country=industry_migration_new['net_per_10K_2015'].mean()
 return filter_country



#run test to see if you are getting the correct average
actual = round(filter_country(industry_migration), 2)
expected = 8.09

if actual == expected:
  print("Test passed!\nExpected: {}\nActual: {}".format(expected, actual))
else:
  print("Test failed!\nExpected: {}\nActual: {}".format(expected, actual))

Test passed!
Expected: 8.09
Actual: 8.09