<a href="https://colab.research.google.com/github/shammud/python/blob/main/Worksheet_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

---

A **dictionary** is a collection of dissimilar data stored together in one *record*. Each item of data has a  (or key) that describes its paired value.  

Create a dictionary object by declaring the set of keys and values, e.g.:

```
   transport = {
       "type":"bus",
       "numPassengers":72,
       "colour":"blue",
       "fuel":"diesel"
   }
```

To access a value in a dictionary, use its key:  

```
transport["type"] = "coach"
transport_type = transport["type"]
transport_colour = transport["colour"]
transport["fuel"] = petrol
```

To add a new key/value pair to a dictionary, simply assign a value to a new key:  
```
transport["seats"] = 54
```

The transport dictionary will now look like this:  
```
   transport = {
       "type":"bus",
       "numPassengers":72,
       "colour":"blue",
       "fuel":"diesel",
       "seats":54
   }
```

---
### Exercise 1 - print dictionary

Write a function which will:  

*  create an empty dictionary for a person (name, age and postcode, with values "", 0 and "")
*  ask the user for name, age and postcode and assign the values to the correct keys in the dictionary  
*  print the dictionary

Test input:  
Jack Jones  
16  
AB5 3DF  

Expected output:  
```{'name':'Jack Jones', 'age':16, 'postcode':'AB5 3DF'}```

In [ ]:
def dictionary():
  person={"name":"","age": 0,"postcode":"  "}
  name=input("Enter name : ")
  age=int(input("Enter age : "))
  postcode=input("Enter postcode : ")
  person["name"]=name
  person["age"]=age
  person["postcode"]=postcode
  print(person)
dictionary()

Enter name : Jack Jones
Enter age : 16
Enter postcode : AB5 3DF
{'name': 'Jack Jones', 'age': 16, 'postcode': 'AB5 3DF'}

---
### Exercise 2 - create a dictionary

Write a function that will create two dictionaries,without values:  

1.  person (with keys firstname, surname, birthdate, postcode)  
2.  car (with key/value pairs as follows:  make - Vauxhall, model - Corsa, engineSize - 1199, fuelType - unleaded, num_doors - 4)  

*   ask the user to enter the values for the person dictionary  
*   print, on one line, the person's name from the person dictionary and the make of the car from the car dictionary.

Test input:  
Jack  
Jones  
2005/02/02    
AB5 3DF  

Expected output:  
Jack Jones Vauxhall

In [11]:
def create():
  person={"Firstname":" ","surname":" ","Birthdate":" ","postcode":" "}
  car={"make":"vauxhall","model":"corsa","enginesize":"1199","fuelType":"unleaded","num_doors":"4"}
  Firstname=input("Enter Firstname : ")
  surname=input("Enter surname : ")
  Birthdate=input("Enter Birthdate : ")
  postcode=input("Enter postcode : ")
  person["Firstname"]=Firstname
  person["surname"]=surname
  person["Birthdate"]=Birthdate
  person["postcode"]=postcode
  print(person["Firstname"],person["surname"],car["make"])
create()

Enter Firstname : Jack
Enter surname : Jones
Enter Birthdate : 2005/02/02
Enter postcode : AB5 3DF
Jack Jones vauxhall

---
### Exercise 3 - check dictionary values

Write a new function which will:

*  set up the same two dictionaries as in Exercise 2  
*  ask the user to enter the details to complete the person record  
*  calculate the person's age  
*  if the person is under 17 then print a message to say that they can't buy a car as they are too young to drive
*  else if the person is under 25 then print a message to say that an engine size under 1200 is recommended  
*  ask the user to enter the make of car that the person is looking for  
*  if the user enters the same make as that stored in the car record, then print a message to say that you have one car of that make in stock and print all the details of the car that you have the record for
*  else (if the user enters any other car make) then print a message to say sorry that you don't have any cars of that make in stock
*  print a message to say that the user can get more details for stockist in the <user's postcode> area if they call 01234567890
*  print a message to say "Thank you <user's name> for using our site"  

Test input:  
Jack  
Jones  
2005/02/02  
AB5 3DF  
Vauxhall  

Expected output:  
You are too young to drive

Test input:  
John  
Jones  
2003/02/02  
AB5 3DF  
Vauxhall 

Expected output:  
An engine size under 1200 is recommended  
We have one Vauxhall in stock, details:  
Make - Vauxhall    
Model - Corsa    
Engine size - 1199  
Fuel type - unleaded   
Number of doors - 4  
You can get more details of stockists near AB5 3DF on 01234567890  
Thank you John Jones for using our site.     

Test input:  
John  
Jones  
2003/02/02  
AB5 3DF  
Ford  

Expected output:  
An engine size under 1200 is recommended  
Sorry, we don't have any of that make in stock

In [47]:
from datetime import datetime,date
def check_values():
  person={"Firstname":" ","surname":" ","Birthdate":" ","postcode":" "}
  car={"make":"vauxhall","model":"corsa","enginesize":"1199","fuelType":"unleaded","num_doors":"4"}
  Firstname=input("Enter Firstname : ")
  surname=input("Enter surname : ")
  Birthdate=input("Enter Birthdate : ")
  postcode=input("Enter postcode : ")
  person["Firstname"]=Firstname
  person["surname"]=surname
  person["Birthdate"]=Birthdate
  person["postcode"]=postcode
  Birthdate=datetime.strptime(Birthdate,"%Y/%m/%d")
  today=date.today()
  age=today.year-Birthdate.year-((today.month,today.day) < (Birthdate.month,Birthdate.day))
  print(age)
  if age <= 17:
    print("You are too young to Drive")
  elif 17 < age < 25:
    print("An engine size under 1200 is recommended")
    model=input("Enter make of the car you are looking for : ")
    if model==car["make"]:
      print("We have one Vauxhall in stock, details:")
      print(car)
      print("You can get more details of stockists near AB5 3DF on 01234567890 ")
      print("Thank you",person["Firstname"],person["surname"],"for using our site.")
    else:
      print("Sorry, we don't have any of that make in stock ")
check_values()

Enter Firstname : Jack
Enter surname : Jones
Enter Birthdate : 2003/02/02
Enter postcode : AB5 3DF
19
An engine size under 1200 is recommended
Enter make of the car you are looking for : vauxhall
We have one Vauxhall in stock, details:
{'make': 'vauxhall', 'model': 'corsa', 'enginesize': '1199', 'fuelType': 'unleaded', 'num_doors': '4'}
You can get more details of stockists near AB5 3DF on 01234567890
Thank you Jack Jones for using our site.

---
### Exercise 4 - print keys and values

Two dictionaries have been created below.  You can print a list of the dictionary's keys using `dictionary_name.keys()` and the values using `dictionary_name.values()`

Write a function which will accept a dictionary as a parameter and will:  
*  print the dictionary keys as a list   
*  print the dictionary values as a list  

*Hint*:  you will need to cast the keys as a list (`list(dictionary_name.keys()`)  and do the same for the values.

**Expected Output**

Input: English  
Output: 
['Andy', 'Angela']  
[95, 53]  

Input: Maths  
Output:  
['Andy', 'Angela']  
[58, 72]

In [19]:
def display_dictionary(scores):
  #  add your code below this line
  print(list(english_scores.keys()))
  print(list(english_scores.values()))
  print(list(maths_scores.keys()))
  print(list(maths_scores.values()))
english_scores = {'Andy': 95, 'Angela': 53}
maths_scores = {'Andy': 58, 'Angela': 72}
#display_dictionary(english_scores)
#display_dictionary(maths_scores)
display_dictionary("scores")

['Andy', 'Angela']
[95, 53]
['Andy', 'Angela']
[58, 72]

---
### Exercise 5 - add field

Write a function which will:

*  create a new dictionary called **science_scores** with values of 0 for both Andy and Angela
*  update Andy's score for science to 73 and Angela's score to 73   
*  create a new key/value pair by adding another learner to the `science_scores`  dictionary (George has a score of 55)    
*  print the `science_scores` dictionary to check results  

Expected Output

{'Andy': 73, 'Angela': 73, 'George': 55}

In [23]:
def add_field():
  science_scores={'Andy':0,'Angela':0}
  up_scores={'Andy':73,'Angela':73}
  new={'George':55}
  science_scores.update(up_scores)
  science_scores.update(new)
  print(science_scores)
add_field()

{'Andy': 73, 'Angela': 73, 'George': 55}

---
### Exercise 6 - loop through keys/value pairs

Write a function which will use a *for* loop to print the each key/value pair in the science dictionary (recreate this dictionary in this function) 

*(Hint: you can iterate through the key/value pairs in the dictionary in the same way as you iterate through a loop (e.g. for record in dictionary) and print the record (which is the key) and its value)*

Expected output:  

Angela 72  
Andy 72  
George 55

In [5]:
def create_pairs():
  for i in range(0,3):
    key=input("enter key : ")
    value=int(input("enter value : "))
    print(key,value)
create_pairs()

enter key : Angela
enter value : 72
Angela 72
enter key : Andy
enter value : 72
Andy 72
enter key : George
enter value : 55
George 55

---
### Exercise 7 - generate new dictionary  

Write a functions which will:
*  create a new dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys
*  print the dictionary

Expected output:  
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [44]:
def generate_new():
  new={}
  for i in range(1,16):
    key=i
    value=i*i
    new[key]=value
  print(new)
generate_new()

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

---
### Exercise 8 - colour dictionary  

Write a function which will:  
*  create a new dictionary record called colour_codes with the values 'red' - '#FF0000', 'green' - '#008000', 'black' - '#000000', 'white' - '#FFFFFF'
*  add a new colour code:  'blue' - '#0000FF'    
*  remove the colours black and white from the dictionary  

*Hint:  there is a list of methods [here](https://www.w3schools.com/python/python_ref_dictionary.asp)*

In [46]:
def colour():
  colour_codes={'red':'#FF0000','green':'#008000','black':'#000000','white':'#FFFFFF'}
  new_colour={'blue':'#0000FF'}
  colour_codes.update(new_colour)
  colour_codes.pop('black')
  colour_codes.pop('white')
  print(colour_codes)
colour()

{'red': '#FF0000', 'green': '#0080000', 'blue': '#0000FF'}

---
### Exercise 9 - item tuples  

Write a function which will:  
*  create a new dictionary containing the colour codes for red, green, blue, black and white
*  print the key/value pairs of a dictionary as a list of tuples  

*Hint:  iterate through colours.items()*

In [48]:
def tuples():
  colour_codes={'red':'#FF0000','green':'#008000','black':'#000000','white':'#FFFFFF','blue':'#0000FF'}
  print(list(colour_codes.items()))
tuples()

[('red', '#FF0000'), ('green', '#008000'), ('black', '#000000'), ('white', '#FFFFFF'), ('blue', '#0000FF')]

---
### Exercise 10 - check if empty
Taken from w3resouce.com  

Write a function which will check if a dictionary is empty or not

*Hint:  you can use bool(dictionary_name), if the dictionary is empty then bool(dictionary_name will be false)*

Test 1 sample data:
{}

Expected output:
Dictionary is empty  

Test 2 sample data:  
{"name":"Groucho", "occupation":"comedian"}

Expected output:  
Dictionary is not empty

In [54]:
def check_empty():
  a={}
  b={'name':'Groucho','occupation':'comedian'}
  if a:
      print("Dictionary is not empty")
  else:
      print("Dictionary is empty")
check_empty()

Dictionary is empty